:root {
  --bs-primary: #6f42c1; /* Une nuance de violet */
  --bs-secondary: #6c757d;
  --bs-success: #28a745;
  --bs-info: #17a2b8;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.card-header.bg-primary {
  background-color: var(--bs-primary) !important;
}

/* Styles pour le corps de la page */
body {
  background-color: #f0f2f5; /* Une couleur de fond douce */
}

/* Styles pour les cartes */
.card {
  border-radius: 0.75rem;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Styles pour les titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

/* Amélioration de la navigation */
.navbar {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navbar-brand {
  font-weight: bold;
  color: var(--bs-primary) !important;
}

.nav-link {
  font-weight: 500;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.punchline-container #punchline {
  transition: opacity 0.5s ease-in-out;
}
